.App {
  text-align: center;
}




.App-header {
  background-color: #a1deff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1vmin);
  color: #5a392f;
  font-family: 'Hiragino Maru Gothic ProN', sans-serif;
  font-weight: bold;
  label:hover {
  background-color: #ffcdfd; /* Change the background color on hover */
}
}

.App-link {
  color: #a1deff;
}
